.container {
  padding: 1vmin 1vmax;
  background: #eee;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  //   transition: all 0.1s ease;
  box-shadow: -2px 2px 8px -2px #fff;
  @media screen and (max-width: 550px) {
    width: auto !important;
  }
  &:active {
    transform: translate(-1px, 1px) !important;
    box-shadow: none;
  }
  img {
    width: 5vmin;
    height: 5vmin;
  }
}
